branches/0.6/FdoToolbox.Core/Schemas/DbConnection.xsd

<?xml version="1.0" encoding="utf-8" ?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
	<xs:element name="DbConnection" type="DbConnection" />
	<xs:complexType name="DbConnection">
		<xs:sequence>
			<xs:element name="Name" type="xs:string" nillable="false" />
			<xs:element name="Driver" type="xs:string" nillable="false" />
			<xs:element name="ConnectionString" type="xs:string" nillable="false" />
		</xs:sequence>	   
	</xs:complexType>
</xs:schema>